<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PentaPlay"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Games.Game2_TicTacToe.UIs.Game2Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Games.Game5_PredictTheValueIndex.UIs.Game5InstructionsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Games.Game4_RememberTheValueIndex.UIs.Game4InstructionsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Games.Game3_IdentifyShortestPath.UIs.Game3InstructionsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Games.Game2_TicTacToe.UIs.Game2InstructionsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Games.Game5_PredictTheValueIndex.UIs.Game5Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Games.Game4_RememberTheValueIndex.UIs.Game4Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Games.Game3_IdentifyShortestPath.UIs.Game3Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Games.Game1_EightQueensPuzzle.UIs.Game1Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Games.Game1_EightQueensPuzzle.UIs.Game1InstructionsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.GamesMenuActivity"
            android:exported="false" />
    </application>

</manifest>